<header>

  <h1>Items List</h1>

  <ul class="actions">
    <li>
      <%= link_to 'New Item', new_item_path, class: 'new' %>
    </li>
  </ul>

</header>

<div class="panel panel-default">

  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Qty</th>
      <th>Unit price</th>
    </tr>
    </thead>
    <% @items.each do |item| %>
        <tbody>
        <td><%= item.created_at %></td>
        <td><%= link_to item.name, item %></td>
        <td><%= item.quantity %></td>
        <td><%= item.unit_price %></td>
        </tbody>
    <% end %>
  </table>

</div>