<header>
  <h1><%= @item.name %></h1>

  <ul class="actions">
    <li><%= link_to 'Edit Item', edit_item_path(@item), class: 'edit' %></li>
        <li>
          <%= link_to 'Delete Item',
                      item_path(@item),
                      method: :delete,
                      data: { confirm: 'Are you sure you want to delete this item?'},
                      class: 'delete'
          %>
        </li>
  </ul>

</header>

<%= @item.name %>
<%= @item.quantity %>
<%= @item.unit_price %>
<%= @item.url %>
<%= @item.note %>

<header>
  <h2>Comments</h2>

  <ul class="actions">
    <li><%= link_to 'New Comment', new_item_comment_path(@item), class: 'new' %></li>
  </ul>
</header>

<ul id="comments">
  <% @item.comments.each do |comment|  %>
      <li>
        #<%= comment.id %> - <%= comment.body %>
      </li>
  <% end  %>
</ul>