<header>
  <h1><%= @item.name %></h1>

  <ul class="actions">
    <li><%= link_to 'Edit Item', edit_item_path(@item), class: 'edit' %></li>
    <li>
      <%= link_to 'Delete Item',
                  item_path(@item),
                  method: :delete,
                  data: {confirm: 'Are you sure you want to delete this item?'},
                  class: 'delete'
      %>
    </li>
  </ul>

</header>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Order details:</div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><strong>Date: </strong><%= @item.created_at %></li>
    <li class="list-group-item"><strong>ID: </strong><%= @item.id %></li>
    <li class="list-group-item"><strong>Item: </strong><%= @item.name %></li>
    <li class="list-group-item"><strong>Unit price: </strong><%= @item.unit_price %></li>
    <li class="list-group-item"><strong>Quantity: </strong><%= @item.quantity %></li>
    <li class="list-group-item"><strong>Url: </strong><%= @item.url %></li>
    <li class="list-group-item"><strong>Note: </strong><%= @item.note %></li>
  </ul>
</div>

<header>
  <h2>Comments</h2>

  <ul class="actions">
    <li><%= link_to 'New Comment', new_item_comment_path(@item), class: 'new' %></li>
  </ul>
</header>

<ul id="comments">
  <% @item.comments.each do |comment| %>
      <li>
        #<%= comment.id %> - <%= comment.body %>
        <%= link_to 'Edit', [:edit, @item, comment], class: 'fa fa-pencil' %>
        <%= link_to 'Delete', [@item, comment], method: :delete,
                      data: {confirm: 'Are you sure you want to delete this comment?'},
                      class: 'fa fa-remove' %>
      </li>
  <% end %>
</ul>